<div>
  <small>
    <%= @comment.score %> points
    by <strong><%= link_to @comment.user.username, user_path(@comment.user) %></strong>
    posted <%= time_ago_in_words @comment.created_at %> ago
  </small>
  <br>
  <%= @comment.body %>
</div>

<% if logged_in? %>
  <div class="btn-toolbar">
    <div class="btn-group btn-group-horizontal">
      <%= button_to("Upvote", comment_upvote_path(@comment), :method => 'create', :class => 'btn btn-success') %>
      <%= button_to("Downvote", comment_downvote_path(@comment), :method => 'create', :class => 'btn btn-danger') %>
    </div>
  </div>
  <br>
  <%= render :partial => 'comments/form', :locals => {:comment => Comment.new, :commentable => @comment} %>
<% end %>

<%= render :partial => 'comments/list', :locals => { :comments => @comment.comments } %>

<% if !logged_in? %>
  <%= link_to 'Create Account', new_user_path %>
  <p>Already have an account? <%= link_to "Sign In", new_session_path %></p>
<% end %>