<div class="container">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>
          <small>
            <%= render :partial => 'shared/posting_metadata', :locals => { :posting => @comment } %>
          </small>
          <br>
          <%= @comment.body %>
        </td>
      </tr>
    <tbody>
  </table>
</div>

<% if logged_in? %>
  <% if @comment.vote_for_user(current_user).id == nil %>
    <div class="btn-container">
      <div class="btn-group">
        <%= button_to("Upvote", comment_upvote_path(@comment), :class => 'btn btn-success') %>
        <%= button_to("Downvote", comment_downvote_path(@comment), :class => 'btn btn-danger') %>
      </div>
    </div>
  <% elsif @comment.vote_for_user(current_user).sign == 1 %>
    <div class="btn-container">
      <div class="btn-group">
        <%= button_to("Downvote", comment_downvote_path(@comment), :class => 'btn btn-danger') %>
      </div>
    </div>
  <% else %>
    <div class="btn-container">
      <div class="btn-group">
        <%= button_to("Upvote", comment_upvote_path(@comment), :class => 'btn btn-success') %>
      </div>
    </div>
  <% end %>
  <br>
  <%= render :partial => 'comments/form', :locals => { :comment => Comment.new, :commentable => @comment } %>
<% end %>

<%= render :partial => 'comments/list', :locals => { :comments => @comment.comments } %>

<% if !logged_in? %>
  <%= link_to 'Create Account', new_user_path %>
  <p>Already have an account? <%= link_to "Sign In", new_session_path %></p>
<% end %>