<div class="container">
  <table class="table table-bordered">
    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td>
            <strong>
              <%= link_to article.title, article.link %>
              (<%= article.domain %>)
            </strong>
            <br>
            <%= render :partial => 'shared/posting_metadata', :locals => { :posting => article } %>
            <%= link_to 'Show', article %>
            <br>
          </td>
        </tr>
      <% end %>
    <tbody>
  </table>
</div>

<%= paginate @articles %>