<% @articles.each do |article| %>
  <%= link_to article.title, article.link %>
  (<%= article.domain %>)
  by <strong><%= article.user %></strong>
  posted <%= time_ago_in_words(article.created_at) %> ago
  <%= link_to 'Show', article %>
  <br>
<% end %>

<br>
<%= link_to 'New Article', new_article_path %>

<br>
<% if logged_in? %>
  <%= button_to("Sign Out", session_path, :method => 'delete', :class => 'btn btn-primary') %>
<% else %>
  <%= link_to 'Create Account', new_user_path %>
  <p>Already have an account? <%= link_to "Sign In", new_session_path %></p>
<% end %>
