<% @articles.each do |article| %>
  <strong>
    <%= link_to article.title, article.link %>
    (<%= article.domain %>)
  </strong>
  <br>
  <%= article.score %> points
  by <strong><%= link_to article.user.username, user_path(article.user) %></strong>
  posted <%= time_ago_in_words(article.created_at) %> ago
  <%= link_to 'Show', article %>
  <br>
<% end %>

<%= paginate @articles %>

<br>
<%= link_to 'New Article', new_article_path %>

<br>
<div class="btn-toolbar"> 
<% if logged_in? %>
  <%= button_to("Sign Out", session_path, :method => 'delete', :class => 'btn btn-primary') %>
<% else %>
  <%= link_to 'Create Account', new_user_path %>
  <p>Already have an account? <%= link_to "Sign In", new_session_path %></p>
<% end %>
</div>
