<div>
  <%= link_to "Best", top_rated_path %> |
  <%= link_to "Best by Year", top_rated_for_year_path(Time.now.year) %> |
  <%= link_to "Best by Month", top_rated_for_month_path(Time.now.year, Time.now.month) %> |
  <%= link_to "Best by Day", top_rated_for_day_path(Time.now.year, Time.now.month, Time.now.day) %> |
  <%= link_to "Index", newest_path %>
</div>
<br>

<% @articles.each do |article| %>
  <strong>
    <%= link_to article.title, article.link %>
    (<%= article.domain %>)
  </strong>
  <br>
  <%= render :partial => 'shared/posting_metadata', :locals => { :posting => article } %>
  <%= link_to 'Show', article %>
  <br>
<% end %>

<%= paginate @articles %>

<br>
<%= link_to 'New Article', new_article_path %>

<br>
<div> 
  <% if logged_in? %>
    <%= button_to("Sign Out", session_path, :method => 'delete', :class => 'btn btn-primary') %>
  <% else %>
    <%= link_to 'Create Account', new_user_path, :class => 'btn btn-primary' %>
    <p>Already have an account? <%= link_to "Sign In", new_session_path %></p>
  <% end %>
</div>