<div class="container">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>
          <strong>
            <%= link_to @article.title, @article.link %>
            (<%= @article.domain %>)
          </strong>
          <%= render :partial => 'shared/posting_metadata', :locals => { :posting => @article } %>
        </td>
      </tr>
    <tbody>
  </table>
</div>

<% if logged_in? %>
  <% if @article.vote_for_user(current_user).id == nil %>
    <div class="btn-container">
      <div class="btn-group">
        <%= button_to("Upvote", article_upvote_path(@article), :class => 'btn btn-success') %>
        <%= button_to("Downvote", article_downvote_path(@article), :class => 'btn btn-danger') %>
      </div>
    </div>
  <% elsif @article.vote_for_user(current_user).sign == 1 %>
    <div class="btn-container">
      <div class="btn-group">
        <%= button_to("Downvote", article_downvote_path(@article), :class => 'btn btn-danger') %>
      </div>
    </div>
  <% else %>
    <div class="btn-container">
      <div class="btn-group">
        <%= button_to("Upvote", article_upvote_path(@article), :class => 'btn btn-success') %>
      </div>
    </div>
  <% end %>
  <br>
  <%= render :partial => 'comments/form', :locals => {
    :comment => @new_comment,
    :commentable => @article } 
  %>
<% end %>

<%= render :partial => 'comments/list', :locals => { :comments => @article.comments } %>