<div>
  <%= link_to @article.title, @article.link %>
  (<%= @article.domain %>)
  by <strong><%= link_to @article.user.username, user_path(@article.user) %></strong>
  posted <%= time_ago_in_words @article.created_at %> ago
</div>

<% if logged_in? %>
<br>
  <%= render :partial => 'comments/form', :locals => {
    :comment => @new_comment,
    :commentable => @article } 
  %>
<% end %>

<%= render :partial => 'comments/list', :locals => { :comments => @article.comments } %>
  
<% if !logged_in? %>
  <%= link_to 'Create Account', new_user_path %>
  <p>Already have an account? <%= link_to "Sign In", new_session_path %></p>
<% end %>
