<div>
  <strong>
    <%= link_to @article.title, @article.link %>
    (<%= @article.domain %>)
  </strong>
  <br>
  <%= render :partial => 'shared/posting_metadata', :locals => { :posting => @article } %>
</div>
<% if logged_in? %>
  <div class="btn-toolbar">
    <div class="btn-group btn-group-horizontal">
      <%= button_to("Upvote", article_upvote_path(@article), :class => 'btn btn-success') %>
      <%= button_to("Downvote", article_downvote_path(@article), :class => 'btn btn-danger') %>
    </div>
  </div>
  <br>
  <%= render :partial => 'comments/form', :locals => {
    :comment => @new_comment,
    :commentable => @article } 
  %>
<% end %>

<%= render :partial => 'comments/list', :locals => { :comments => @article.comments } %>
 
<% if !logged_in? %>
  <%= link_to 'Create Account', new_user_path %>
  <p>Already have an account? <%= link_to "Sign In", new_session_path %></p>
<% end %>