<!DOCTYPE html>
<html>
<head>
  <title>HaxxorNews</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="flash">
    <% if alert.present? %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    <% if notice.present? %>
      <p class="alert"><%= notice %></p>
    <% end %>
  </div>

  <div class="container" id="main-content">
    <div id="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="/articles">Haxxor News</a>
          <ul class="nav">
            <li><%= link_to "Best", top_rated_path %></li>
            <li><%= link_to "Best this Year", top_rated_for_year_path(Time.now.year) %></li>
            <li><%= link_to "Best this Month", top_rated_for_month_path(Time.now.year, Time.now.month) %></li>
            <li><%= link_to "Best this Day", top_rated_for_day_path(Time.now.year, Time.now.month, Time.now.day) %></li>
            <li><%= link_to "Index", newest_path %></li>
            <li><%= link_to 'New Article', new_article_path %></li>
            <% if logged_in? %>
              <li><%= link_to "Sign Out", logout_session_path %></li>
            <% else %>
              <li><%= link_to 'Create Account', new_user_path %></li>
              <li><%= link_to "Sign In", login_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <br>
    
    <%= yield %>
  </div>

</body>
</html>
